{% extends 'base1.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="row">
        <div class=" col-md-10 ">
        </div>
        <div class=" col-md-2 ">
            <h3><font size="3">nombre des blogs: </font> <small class="badge badge-pill" style="color: #0b3d91">{{numbers|number_format}}</small></h3>
        </div>
        <div>
    <a class="get-started-btn scrollto" style="color:black"  href="{{ path('app_blog_new') }}">Ajouter un blog</a>
        </div>
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Blog</h2>
                <p>Consulter les Blogs</p>
            </div>



            {% for blog in blogs %}

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <a href="{{ path('app_blog_show', {'id': blog.idBlog}) }}">
                    <div class="icon-box">

                        <div class="profile-pic">
                            <img src="{{asset('/uploads/' ~ blog.imageBlog)}}" alt="" width="450">
                        </div>
                        <h4>{{ blog.titreBlog }}</a></h4>
                        <p> <strong> Publié par: </strong> </p>
                        <p> {{ blog.emailPublisher }}</p>
                        <p>
                            <strong>  Crée le: </strong>
                        </p>
                        <p>  {{ blog.createdAt ? blog.createdAt|date('H:i') : '' }}</p>
                        <p>{{ blog.createdAt ? blog.createdAt|date('Y-m-d') : '' }}</p>

                    </div>

                </div>


</a>
                </div>




                {% endfor %}
            </div>

        </div>

    </section>
{% endblock %}
