{% extends 'base_client.html.twig' %}

{% block title %}Les Commandes {% endblock %}

{% block content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            {% for commande in commandes %}
                <div class="row">
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                        <h3>Commande numero {{ commande.idCommande }}</h3>
                        <p class="fst-italic">
                            Commandé par {{ commande.idUser.nomUser }}: <strong>{{ commande.etat }}</strong>
                        </p>
                        <p class="fst-italic">
                            Email: <strong>{{ commande.idUser.emailUser }}</strong>
                        </p>

                        <p class="fst-italic">
                            <a href="{{ path('app_client_show_details', {'id': commande.idCommande}) }}" class="btn-sm btn-info">show details</a>
                            <span class="float-right">
                                <strong>{{ commande.adresse }}</strong> in {{commande.dateCommande|date}}
                            </span>
                            
                        </p>

                    </div>
                </div>
                <br>
                <br>
            {% endfor %}

        </div>
    </section><!-- End About Section -->

{% endblock %}
