{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1>Blog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_blog</th>
                <td>{{ blog.idBlog }}</td>
            </tr>
            <tr>
                <th>Email_publisher</th>
                <td>{{ blog.emailPublisher }}</td>
            </tr>
            <tr>
                <th>Titre_blog</th>
                <td>{{ blog.titreBlog }}</td>
            </tr>
            <tr>
                <th>Contenu_blog</th>
                <td>{{ blog.contenuBlog }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ blog.updatedAt ? blog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image_blog</th>
                <td>{{ blog.imageBlog }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_blog_f_index') }}">back to list</a>

    <a href="{{ path('app_blog_f_edit', {'id_blog': blog.id_blog}) }}">edit</a>

    {{ include('blog_f/_delete_form.html.twig') }}
{% endblock %}
