
{% extends 'base_molka.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block tableau %}
    <h1>Liste des Commandes </h1>


    <div>
    <form role="search" id="nav-search-form" method="post" action="{{ path('trieradresse_admin') }}" >

                <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1">
                    <i class="fas fa-exchange-alt fa-rotate-90"></i>
                    Trier par adresse
                </button>
    </form>
    <form role="search" id="nav-search-form" method="post" action="{{ path('triid') }}" >

        <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1">
            <i class="fas fa-exchange-alt fa-rotate-90"></i>
            Trier par Date
        </button>
    </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>N°Commande</th>
                <th>TotalPoints</th>
                <th>Membre</th>
                <th>Date Commande</th>
                <th>Adresse</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.idCommande }}</td>
                <td>{{ commande.totalPoints }}</td>
                <td>{{ commande.idUser }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d') : '' }}</td>
                <td>{{ commande.adresse }}</td>
                <td>{{ commande.etat }}</td>
                <td>
                    <a href="{{ path('app_admin_commande_show', {'idCommande': commande.idCommande}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_admin_commande_edit', {'idCommande': commande.idCommande}) }}"class="btn btn-warning">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




    <a href="{{ path('commandesliste') }}" class="btn btn-info btn-lg btn-block" >Imprimer</a>
    <a href="{{ path('app_admin_commande_stat') }}" class="btn btn-secondary btn-lg btn-block" >Statistiques</a>
{% endblock %}
